body{
    background-color: #ccc;
    font-family: "roboto", sans-serif;
}

.card {
    margin-top: 80px;
    height: 460px;
    width: auto;
  }

/* #unId{
    color: #fff;
}
.container{

}
.boton-alb{

    background: #000;
    color: #fff;

} */